body {
  font-family: 'Circular Spotify Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: rgb(24, 24, 24);
=======
  justify-content: flex-start; /* Alineación de contenido en la parte superior */
  align-items: center;
  height: 100vh;
  background-color: rgb(160, 160, 160); /* Cambio del color de fondo a negro */
}

h1 {
  color: #1DB954; /* Color verde característico de Spotify */
  margin: 20px 0;
>>>>>>> f762e96385808c723f4b7fbc70fd607ea59532f2
}

.search-box {
  display: flex;
<<<<<<< HEAD
  flex-direction: column;
=======
  flex-direction: column; /* Alineación vertical */
>>>>>>> f762e96385808c723f4b7fbc70fd607ea59532f2
  align-items: center;
  padding: 20px 0;
}

<<<<<<< HEAD
input[type="text"],
select {
=======
input[type="text"], select {
>>>>>>> f762e96385808c723f4b7fbc70fd607ea59532f2
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
}

button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
<<<<<<< HEAD

.results-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  width: 30vh;
  height: 40vh;
  background-color: #4b4b4b;
}

.result-img {
  width: 50px;
  width: 40vh;
  height: 40vh;
  margin-right: 15px;
  border-radius: 20%;
}

.result-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

=======
.results-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.result-img {
  width: 50px; /* Ajusta el tamaño de la imagen */
  height: 50px;
  margin-right: 15px;
  border-radius: 50%; /* Para hacer que la imagen sea redonda (opcional) */
}

.result-info {
  flex: 1;
>>>>>>> f762e96385808c723f4b7fbc70fd607ea59532f2
}

.result-name {
  margin: 0 0 5px;
<<<<<<< HEAD
  font-size: 1.6em;
=======
  font-size: 1.2em;
>>>>>>> f762e96385808c723f4b7fbc70fd607ea59532f2
}

.result-artists {
  margin: 0;
  font-size: 0.9em;
  color: #777;
<<<<<<< HEAD
}

.tipo-btn {
  padding: 8px 16px;
  margin-right: 8px;
  background-color: #747474;
  cursor: pointer;
}

.tipo-btn.tipo-activo {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #007bff;

}

.result-card {
  max-width: 50vh;
  max-height: 50vh;
  background-color: rgb(14, 14, 14);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
}

.result-img {
  max-width: 50vh;
  max-height: 50vh;
  border-radius: 8px;
  margin-bottom: 10px;
}

.result-name {
  font-weight: bold;
  margin: 0;
  color: #f0f0f0;
  text-decoration: none;
}

.result-type {
  color: #888;
  margin: 0;
}

/* Estilo nuevo */
.result-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  box-sizing: border-box;
}

.result-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.result-name,
.result-type {
  margin: 0;
}

#searchContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.result-name,
.result-type {
  margin: 0;
}

.soyunaclase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: .5em;
  margin: 2em 0 0 0;
  padding: .5em .8em;
  border-radius: 1em;
  border: 1px solid var(--color4);
  color: var(--color5);
  background-color: transparent;
  font-size: .9em;
  transition: all .1s ease-in-out;
  width: 80%;
=======
>>>>>>> f762e96385808c723f4b7fbc70fd607ea59532f2
}